/* Add styles for the navbar */
.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-item {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
  }
  
  .navbar-link {
    color: inherit;
    text-decoration: none;
    display: block;
  }
  
  .navbar-item.glow {
    background-color: rgba(255, 255, 255, 0.2); /* Glow effect background */
    color: #ffd700; /* Color of the text on hover */
  }
  
  .navbar-item:hover .navbar-link {
    color: #ffd700; /* Change text color on hover */
  }
  